[user]
	email = davidrafagomes@gmail.com
	name = David Gomes
[grep]                                                                                                                           
  linenumber = true
