#rightCol {
    display: none;
}

#appsNav {
    display: none;
}

#interestsNav {
    display: none;
}

#developerNav {
    display: none;
}

#pagesNav {
    display: none;
}

#groupsNav {
    display: none;
}

#listsNav {
    display: none;
}

#paymentsNav {
    display: none;
}