#header {
   display: none;
}

body {
    background-color: #FCFCFA;   
}

.project .task .highlighted {
    background-color: transparent;
}

.page {
    border: none;
   background-color: #FCFCFA;
}

#getMoreSpaceButtonTopLeft {
   display: none;
}

.pageStar {
   display: none;
}

.proPitch {
   display: none;
}

#bottomLinks {
   display: none;
}

#pageContainer {
   margin-bottom: 3%;
   font-family: Courier;
}